<div class="container">
  <div class="row">

    <div class="col-sm-12">
      <h1>Settings</h1>
    </div>

    <div class="col-sm-12">

      <div class="pull-right">
        <a ng-click="toggleChangePassword(form)" ng-hide="showChangePassword">Change Password</a>
        <a ng-click="toggleChangePassword(form)" ng-show="showChangePassword">Change Contact Information</a>
      </div>

      <!-- Change Password Form-->
      <form class="form" name="changePasswordForm" ng-submit="changePassword(changePasswordForm)" ng-show="showChangePassword" novalidate>
        <div class="form-group">
          <label>Change Password</label>
          <input type="password" name="password" placeholder="Old Password" class="form-control" ng-model="user.oldPassword"
                 mongoose-error/>
          <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ errors.other }}
          </p>

          <input type="password" name="newPassword" placeholder="New Password" class="form-control" ng-model="user.newPassword"
                 ng-minlength="3"
                 required/>
          <p class="help-block"
             ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
            Password must be at least 3 characters.
          </p>
        </div>

        <p class="help-block alert alert-success" ng-show="message"> {{ message }} </p>
        <p class="help-block alert alert-danger" ng-show="error"> {{ error }} </p>
        <button class="btn btn-lg btn-primary" type="submit">Save</button>
      </form>

      <!-- Change Contact Info Form-->
      <form class="form" name="changeInfoForm" ng-submit="changeContactInformation(changeInfoForm)" ng-hide="showChangePassword" novalidate>
        <div class="form-group">
          <label>Change Contact Information</label>

          <input type="text" name="address" placeholder="Address" class="form-control" ng-model="user.address" />

          <input type="text" name="homePhone" placeholder="Home Phone Number" class="form-control" ng-model="user.homePhone"
                 ng-minlength="7" />

          <input type="text" name="cellPhone" placeholder="Cell Phone Number" class="form-control" ng-model="user.cellPhone"
                 ng-minlength="7" />
        </div>

        <p class="help-block alert alert-success" ng-show="message"> {{ message }} </p>
        <p class="help-block alert alert-danger" ng-show="error"> {{ error }} </p>

        <button class="btn btn-lg btn-primary" type="submit">Save</button>
      </form>

    </div><!-- .col-sm-12 -->
  </div><!-- .row -->

</div><!-- .container -->