section#Album.container
    
    #ConfirmDelete

    .row
        .col-sm-12.text-right.margin-sm-bottom(data-bind="visible: isCurrentUsersAlbum")
            #EditAlbumButton.margin-sm-right(style="display: inline-block;")
            #DeleteAlbumButton.margin-sm-right(style="display: inline-block;")
    .row
        .col-sm-12
            #PhotoViewer
            #PhotoGrid

