section#Album.container
    
    #ConfirmDelete

    .row
        .col-sm-12.text-left.margin-sm-bottom(data-bind="visible: isCurrentUsersAlbum")
            #EditAlbumButton(style="display: inline-block; padding-right: 5px;")
            #DeleteAlbumButton(style="display: inline-block; padding-right: 5px;")
    .row
        .col-sm-12
            #PhotoViewer
            #PhotoGrid

