section#Album.container
    .row
        .col-sm-12.text-right.margin-sm-bottom
            #EditAlbumButton.margin-sm-right(style="display: inline-block;")
            #DeleteAlbumButton.margin-sm-right(style="display: inline-block;")
    .row
        .col-sm-12
            #PhotoViewer
            #PhotoGrid

