extends ../../_layout.jade

block content
  section#Rush
    ol.breadcrumb
      li
          a(href="#/") Home
      li
          a(href="#/about") About
      li.active Rush

    .container
      h2 Alpha Beta Spring 2014 Rush Events!
      .well
          p.text-warning * You MUST attend Info Night and any TWO other events listed below to pledge *
          table.table.table-hover
            tr
              td
                p
                  h4 Meet the Bros
                  |                 Tuesday, April 1st -- Flagpoles @ 4:00PM
                  |                 Meet the brothers of Alpha Phi Omega
                  |                 and get to know each other over FREE FOOD!
            tr
              td
                p
                  h4 Info Night
                  |                 Wednesday, April 2nd -- Flagpoles @ 6:00PM
                  |                 Interested, but don't know what you are getting yourself into?
                  |                 Come to our info night to learn what we are all about!
            tr
              td
                p
                  h4 Bracelet Making
                  |                 Thursday, April 3rd -- Flagpoles @ 6:00PM
                  |                 Help us make bracelets to hand out
                  |                 to students on Ring Road during Midterms week!
            tr
              td
                p
                  h4 Friday Frenzy
                  |                 Friday, April 4th -- Flagpoles @ 6:00PM
                  |                 Come out and play competitive games with the
                  |                 brothers of Alpha Phi Omega. Snacks will be provided.
            tr
              td
                p
                  h4 Care Packages
                  |                 Saturday, April 5th -- Flagpoles @ 12:00PM
                  |                 Join us in making care packages
                  |                 for the homeless.
            tr
              td
                p
                  h4 Park Day
                  |                 Sunday, April 6th -- Flagpoles @ 11:00AM
                  |                 Play games and eat food with the
                  |                 brothers of Alpha Phi Omega at the park.

