.margin-sm-left {
    margin-left:10px;
}

.margin-sm-top {
    margin-top:10px;
}

.margin-md-left {
    margin-left:25px;
}

.margin-md-top {
    margin-top:25px;
}

.margin-lg-left {
    margin-left:50px;
}

.margin-lg-top {
    margin-top:50px;
}

.vertical-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}