.margin-sm-top {
    margin-top:10px;
}

.margin-md-top {
    margin-top:25px;
}

.margin-lg-top {
    margin-top:50px;
}

.vertical-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}