section#Viewer.container-fluid
    
    .row
        
        //- 
        .col-sm-6(style="display: flex; align-items: center; justify-content: center; \
                         height: 100vh;                      \
                         padding-left: 0;                   \
                         padding-right: 0; ")

            img#MainImage.img-responsive(style="height: auto; width: 100%; vertical-align: middle;")
        
        //- 
        #ImageSidePanel.col-sm-6.panel.panel-default(style="height: 100vh")
            .panel-body
                #ImageMeta
                    strong(data-bind="text: meta().username") Hai Huynhlam 
                    br
                    //- small 12/15/2015
                    blockquote
                        small(data-bind="text: meta().photoName")

                
                hr

                //- #ImageComments
                //-     pre
                //-         span Comment 1
                //-     pre
                //-         span Comment 2
                //-     pre
                //-         span Comment 3