section#Viewer.container-fluid
    
    .row
        
        //- 
        .col-sm-6(style="display: flex; align-items: center; justify-content: center; \
                         height: 100vh;                      \
                         padding-left: 0;                   \
                         padding-right: 0; ")

            img#MainImage.img-responsive(style="height: auto; width: 100%; vertical-align: middle;")
        
        //- 
        #ImageSidePanel.col-sm-6.panel.panel-default(style="height: 100vh")
            .panel-body
                #ImageMeta
                    img(data-bind="attr: { src: profileImage }", style="border-radius: 50%; margin-right: 10px;")
                    strong(data-bind="text: meta().username") 
                    br
                    //- small 12/15/2015
                    blockquote
                        small(data-bind="text: meta().photoName")

                
                hr

                #ImageComment(data-bind="foreach: comments")
                    
                    div.margin-md-bottom(style="clear: both;")
                        img.margin-sm-right.pull-left(data-bind="attr: { src: '/photos?filePath=' + userImage + '&thumb=true&width=50' }", 
                            style="border-radius: 50%;")
                        span(data-bind="text: pComment")
                        
                        br
                        small(data-bind="text: username")
                        span(style="padding: 0 5px;") | 
                        small(data-bind="text: $parent.formatDate(pUpdate)")
                    

