section#Photos.container-fluid
    
    #PhotoViewer    
    
    .col-sm-12.margin-lg-top    
        .panel.panel-default
            .panel-heading Photos
            .panel-body
                #PhotoMasonry(style="margin: 0 auto")

