section#Test
    
    //- 
    img.img-responsive(src="/photos/thumb?filePath=uploaded/images/06/606.jpg&width=100%")
    
    //- 
    div
        div
            strong Hai Huynhlam 
            br
            small 12/15/2015
        blockquote
            small This is an example description.

        hr
        pre
            span Comment 1
        pre
            span Comment 2
        pre
            span Comment 3