<div class="container">
		 	
	<h3>Create Event</h3>

	<form class="form row" name="createEventForm" ng-submit="createEvent(createEventForm.$valid)" novalidate>
		<div class="form-group">
			<div class="col-lg-12" ng-class="{ 'has-error': createEventForm.title.$invalid && submitted}">
				<input 
					class="form-control"
					name="title"  
					ng-model="newEvent.title" 
					placeholder="Title (Required)"
					required 
					type="text"	/>
				<p 	ng-show="createEventForm.title.$invalid && submitted" 
					class="help-block">Event title is required.</p>
			</div>

			<div class="col-lg-6" ng-class="{ 'has-error': createEventForm.start.$invalid && submitted}">
				<input 
					class="form-control"
					close-text="Close"  
					datepicker-popup="MMMM dd, yyyy"
					is-open="startDateOpened"
					placeholder="Start Date (Required)" 
					name="startDate"
					ng-focus="showCalendar('start')" 
					ng-model="newEvent.start"   
					required 	/>
				
				<p 	ng-show="createEventForm.start.$invalid && submitted" 
					class="help-block">Start date is required.</p>
			</div>

			<div class="col-lg-6">
				<input 
					class="form-control"
					close-text="Close"  
					datepicker-popup="MMMM dd, yyyy"
					is-open="endDateOpened"
					placeholder="End Date (Optional)" 
					ng-focus="showCalendar('end')" 
					ng-model="newEvent.end"	/>
			</div>

			<div class="col-lg-6">
				<timepicker class="col-lg-6" ng-model="newEvent.startTime" ng-show="newEvent.start"></timepicker>
			</div>

			<div class="col-lg-6">
				<timepicker class="col-lg-6" ng-model="newEvent.endTime" ng-show="newEvent.end"></timepicker>
			</div>

		</div>

		<div class="col-lg-12 text-right">
			<p class="help-block alert alert-success text-left" ng-show="message"> {{ message }} </p>
			<p class="help-block alert alert-danger text-left" ng-show="error"> {{ error }} </p>
			<button class="btn btn-md btn-primary" type="submit">Save</button>
			<a class="btn btn-md btn-warning" href="/calendar" role="button" type="reset">Cancel</a>
		</div>
	</form> 

</div>
