section#Example.container-fluid
    .row
        .col-md-6
            h2 Input Widget
            #SampleInput     

            h2 Dropdown Widget
            #SampleDropDown

            h2 Grid Widget
            #SampleGrid
    .row
        .col-md-6

            h2 Alert Widget
            #SampleAlert

            h2 Button Widget
            #SampleButton

            h2 Window Widget
            #SampleWindow
    .row
        .col-md-12
            h2 Masonry Widget
            #SampleMasonry
    .row
        .col-md-12
            h2 Photo Grid Widget
            #SamplePhotoGrid
