section#Example.container-fluid
    .row
        .col-md-6
            #SampleInput     
            #SampleDropDown
            #SampleGrid
    .row
        .col-md-6
            #SampleAlert
            #SampleButton
            #SampleWindow
    .row
        .col-md-12
            #SampleMasonry
