section#Profile.container
    #ProfileAlert
    form(data-bind='submit: save')
        .col-sm-6
        
            .panel.panel-default.margin-lg-top
                //- .panel-heading Change Name
                .panel-body
                    .form-group.has-feedback
                        label First Name
                        input.form-control(placeholder='First Name', data-bind='value: firstName')
                        span.glyphicon.glyphicon-user.form-control-feedback
                    
                    .form-group.has-feedback
                        label Last Name
                        input.form-control(placeholder='Last Name', data-bind='value: lastName')
                        span.glyphicon.glyphicon-user.form-control-feedback
                    
            .panel.panel-default
                //- .panel-heading Change Address
                .panel-body
                    .form-group.has-feedback
                        label Street Address
                        input.form-control(placeholder='Street Address', data-bind='value: streetAddress')
                        span.glyphicon.glyphicon-home.form-control-feedback

                    .form-group.has-feedback
                        label City
                        input.form-control(placeholder='City', data-bind='value: city')
                        span.glyphicon.glyphicon-home.form-control-feedback

                    //- .form-group.has-feedback
                    //-     #CountryDropdown
                    //-     #StateDropdown
                    //-     //- input.form-control(placeholder='Country', data-bind='value: streetAddress')
                    //-     //- span.glyphicon.glyphicon-envelope.form-control-feedback
                    
                    .form-group.has-feedback
                        label Zip
                        input.form-control(placeholder='Zip', data-bind='value: zip')
                        span.glyphicon.glyphicon-home.form-control-feedback

        .col-sm-6
            .panel.panel-default.margin-lg-top
                //- .panel-heading Change Phone Numbers
                .panel-body
                    .form-group.has-feedback
                        label Home Phone
                        input.form-control(placeholder='Home Phone', data-bind='value: homePhone')
                        span.glyphicon.glyphicon-earphone.form-control-feedback

                    .form-group.has-feedback
                        label Mobile Phone
                        input.form-control(placeholder='Mobile Phone', data-bind='value: mobilePhone')
                        span.glyphicon.glyphicon-earphone.form-control-feedback

            .panel.panel-default
                //- .panel-heading Change Credentials
                .panel-body
                    .form-group.has-feedback
                        label Email
                        input.form-control(placeholder='Email', data-bind='value: email')
                        span.glyphicon.glyphicon-envelope.form-control-feedback

                    .form-group.has-feedback
                        label Password
                        input.form-control(type='password', placeholder='Change Password', data-bind='value: password')
                        span.glyphicon.glyphicon-lock.form-control-feedback

        .col-sm-12
            .panel.panel-default
                .panel-body
                    #SaveButton.col-sm-4.col-xs-12.pull-right