extends ../_layout.jade

block content
  section#Member
    ol.breadcrumb
            li
                a(href="#/") Home
            li.active Roster 

        .container
            h2
                span(data-bind="text: view")
                .visible-xs-block
                    #RosterMobileFilter.col-xs-12.btn.btn-primary.top-space(data-toggle="collapse", data-target="#RosterMobileFilters") Filter
                    #RosterMobileFilters.collapse
                        .col-xs-12.btn.btn-default.right-space(data-bind="click: switchToActives") Actives
                        .col-xs-12.btn.btn-default.right-space(data-bind="click: switchToAlumni") Alumni
                        .col-xs-12.btn.btn-default(data-bind="click: switchToAffiliates") Affiliates

                .hidden-xs.pull-right.text-right
                    .btn.btn-primary.right-space(data-bind="click: switchToActives") Actives
                    .btn.btn-primary.right-space(data-bind="click: switchToAlumni") Alumni
                    .btn.btn-primary(data-bind="click: switchToAffiliates") Affiliates
            
            .well.col-xs-12
                #RosterGrid
    
    