section#Login.container-fluid
    .col-sm-6.col-sm-offset-3

        .panel.panel-default.margin-lg-top
            .panel-heading Login
            .panel-body
                .form-group.has-feedback
                    input.form-control(type='email', placeholder='Email')
                    span.glyphicon.glyphicon-envelope.form-control-feedback
                .form-group.has-feedback
                    input.form-control(type='password', placeholder='Password')
                    span.glyphicon.glyphicon-lock.form-control-feedback
                .row
                    .col-sm-5.col-xs-12.pull-right
                        button.btn.btn-primary.btn-block(type='submit') Sign In