.uly-confirm-window
    p <%= html %>

    button.btn.btn-default.cancel
        span(type="label") <%= cancelLabel %>
    
    button.btn.btn-primary.confirm
        span(type="label") <%= confirmLabel %>
