section#Contacts.container-fluid
    
    .col-sm-12.margin-lg-top    
        .panel.panel-default
            .panel-heading Send Email
            .panel-body
                .col-sm-12
                    #EmailAllButton.col-md-2.col-sm-4.col-xs-12
                    #EmailSelectedButton.col-md-2.col-sm-4.col-xs-12

                .col-sm-12.margin-md-top(style="display: none;" data-bind="visible: emails")
                    p
                        small.text-info Copy to email client:
                    .well
                        span(data-bind="text: emails")

    .col-sm-12    
        .panel.panel-default
            .panel-heading Contacts
            .panel-body
                p
                    small.text-info Hold Ctrl/Cmd to select multiple contacts. 
                #UsersList
