section#AddAlbum.container
    #AddAlbumAlert
    form()

        //- Album Name
        .col-sm-12(data-bind="visible: step() === 1")
        
            .panel.panel-default
                .panel-body
                    .progress
                        .progress-bar.progress-bar-success(style="width: 33%") Album Name
                    .form-group.has-feedback(data-bind='css: { "has-error": albumNameError }')
                        input.form-control(placeholder='New Album Name', data-bind='value: albumName')

        //- Upload Photos
        .col-sm-12(data-bind="visible: step() === 2")
        
            .panel.panel-default
                .panel-body
                    .progress
                            .progress-bar.progress-bar-success(style="width: 66%") Upload Photos
                    .form-group.has-feedback
                        input#AddAlbumUpload(name="photo", type="file", accept="image/*")

        //- Caption Photos
        .col-sm-12(data-bind="visible: step() === 3")
        
            .panel.panel-default
                .panel-body
                    .progress
                        .progress-bar.progress-bar-success(style="width: 100%") Add Captions
                    .form-group.has-feedback
                        #AddAlbumPhotoGrid

        //- Buttons
        .col-sm-12
            .col-sm-3.pull-right(data-bind="visible: step() === 1")
                #AddAlbumCreate
            .col-sm-3.pull-right(data-bind="visible: step() === 2")
                #AddAlbumNext
            .col-sm-3.pull-right(data-bind="visible: step() === 3")
                #AddAlbumDone