section#EditAlbum.container
    
    #EditAlbumAlert
    #EditAlbumConfirmDelete

    .row
        .col-sm-12
            #EditAlbumPhotoGrid

        //- Buttons
        .col-sm-12
            .col-sm-3.pull-right(data-bind="click: save, visible: imgCount", style="padding-right: 5px;")
                #EditAlbumSave