extends ../_layout.jade

block content
    section#EventCalendar
        ol.breadcrumb
            li
                a(href="#/") Home
            li.active Calendar

        .container
            h2 
                | Calendar
                .calendar-legend.pull-right.text-right
                    span.right-space
                        .legend-block.legend-block-primary.right-space
                        small.text-primary General Event
                    span.right-space
                        .legend-block.legend-block-success.right-space
                        small.text-success Fellowship
                    span.right-space
                        .legend-block.legend-block-danger.right-space
                        small.text-danger Service

            .well.col-sm-12
                #Calendar