extends ../_layout.jade

block content
    section#Event
        ol.breadcrumb
            li
                a(href="#/") Home
            li.active Events

        .container
            h2 
                | Upcoming Events
                .visible-xs-block.top-space
                    .col-xs-12.btn.btn-primary(data-bind="visible: eventView() === 'upcoming', click: seePastEvents") View Past Events
                    .col-xs-12.btn.btn-primary(data-bind="visible: eventView() === 'past', click: seeUpcomingEvents") View Upcoming Events
                
                .hidden-xs.pull-right
                    .btn.btn-primary(data-bind="visible: eventView() === 'upcoming', click: seePastEvents") View Past Events
                    .btn.btn-primary(data-bind="visible: eventView() === 'past', click: seeUpcomingEvents") View Upcoming Events
            
            .well.col-xs-12

                #FilterEvents(data-placeholder="Filter Events")

                table.table.col-xs-12
                    thead
                        tr
                            th Date
                            th Name
                    tbody(data-bind="foreach: formattedEvents")
                        tr
                            td(data-bind="text: Date")
                            td
                                a(data-bind="attr: { href: window.env.CLIENT_HOST + '/event/' + Id }")
                                    span(data-bind="text: Name")

                div.text-center
                    button.btn.btn-primary(data-bind="visible: isMore, click: seeMore") See More
                    button.btn.btn-primary(data-bind="visible: !isMore()" disabled) No More