extends ../_layout.jade

block content
  section#Face
    ol.breadcrumb
            li
                a(href="#/") Home
            li.active Faces 

        .container
            h2
                 
            .well.col-xs-12
    
    