body {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;;
    // overflow-y: hidden;

    background-image: url(/public/images/main-bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
}

#AppStatus {
    height: 100vh;
    padding-top: 25vh;
    background-color: @gray-lighter;   
}

// #MainView {
//     background-color: @body-bg;
//     background: url(/public/images/pattern-grid@1x.jpg);
//     background-repeat: repeat;
//     backgroud-position: left top;
//     background-size: 18px 18px;
//     height: 100vh;
//     overflow-y: scroll;
//     padding-bottom: 50px;
// }

// .full-page-background {
//     background-image: url(/public/images/main-bg.jpg);
//     background-attachment: fixed;
//     background-repeat: no-repeat;
//     background-position: center center;
//     background-size: cover;
//     height: 100%;

//     #MainView {
//         background-color: transparent;
//         background-image: none;
//     }
// }