extends ../_layout.jade

block content
    section#About
        ol.breadcrumb
            li
                a(href="#/") Home
            li.active About

        .container
            h2 Meetings
            
            .well
                h3 General Meetings
                p BIO SCI 3, Room 1200 @ 7:00PM

                hr

                h3 Executive Committee Meetings:
                p Sundays @ 7:00PM
                p Location Varies (All Actives are welcome)
      