doctype html
html.no-js(lang='')
  head
    title The Win Family
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='format-detection', content='telephone=no')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    
    // Styles
    // @TODO: compile src sass instead
    link(rel='stylesheet', href='vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='vendor/kendo/styles/kendo.common.min.css')
    link(rel='stylesheet', href='vendor/kendo/styles/kendo.bootstrap.min.css')
    link(rel='stylesheet', href='styles/global.css')
  
  body
    
    include ./widgets/navbar/navbar.jade

    // Start App Content
    section#MainView
    // End App Content
    
    script(src='vendor/system.js/dist/system.js')
    script(src='core/system.config.js')
    script.
      System.import('app');
