nav#Navbar(data-bind="visible: !hidden();", style="display: none;")
  
  // Navigation
  .navbar.navbar-inverse
    .navbar-header
      
      // Sidebar Hamburger
      ul.nav.navbar-nav
        li
          a#SidebarHamburger(data-toggle="collapse", data-target="#Sidebar")
            span.glyphicon.glyphicon-menu-hamburger

      // Site Name
      a.navbar-brand.hidden-xs(href='#') The &nbsp;
        span Win &nbsp;
        | Family
      a.navbar-brand.visible-xs-inline(href='#') 
        span Win &nbsp;
        | Family
      
      // Toggle Button
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      
    // Collapsible
    .navbar-collapse.collapse.navbar-responsive-collapse
      
      // Main Links
      //- ul.nav.navbar-nav
      //-   li
      //-     a#SidebarHamburger(data-toggle="collapse", data-target="#Sidebar")
      //-       span.glyphicon.glyphicon-menu-hamburger
      //-   //- li.dropdown(data-bind='visible: currentUser', style="display: none;")
      //-   //-   a.dropdown-toggle(href='#', data-toggle='dropdown')
      //-   //-     | About
      //-   //-     b.caret
      //-   //-   ul.dropdown-menu
      //-   //-     li
      //-   //-       a(href='#/contacts') Contacts
      //-   //- li.dropdown(data-bind='visible: currentUser', style="display: none;")
      //-   //-   a(href='#/photos') Photos
      
      ul.nav.navbar-nav
        li.navbar-title
          a
            span(data-bind="text: title")
      
      // Right Links
      ul.nav.navbar-nav.navbar-right
        
        // Notifications
        li
          a.border.dropdown-toggle(href='#', data-toggle='dropdown')
            span.glyphicon.glyphicon-flag
            span.badge.badge-info 1

          ul.dropdown-menu
            li
              a Example Notification 1
            li
              a Example Notification 2

        // Profile
        li.dropdown(data-bind='visible: currentUser', style="display: none;")
          a.border.dropdown-toggle(href='#', data-toggle='dropdown')
            span(data-bind='text: (currentUser()) ? currentUser().firstName : null')
            b.caret
          
          ul.dropdown-menu
            li
              a(href='#/profile') Profile
            //- li
            //-   a Send Email
            li
              a(data-bind="click: logout") Logout

        li(data-bind='visible: !currentUser()')
          a.border(href='#/login') Login

  aside#Sidebar.navbar-inverse.width.collapse(style="width: 0px;")
    ul.sidebar-menu.navbar-nav
      
      // About
      li(data-toggle="collapse", href="#SideBarAbout", data-bind='visible: currentUser', style="display: none;") 
        a
          | About
          b.caret
      li#SideBarAbout.dropdown.collapse
        ul
          li
            a(href='#/contacts') 
              span.pull-right.glyphicon.glyphicon-earphone
              | Contacts

      // Photos
      li(data-toggle="collapse", href="#SideBarPhoto", data-bind='visible: currentUser', style="display: none;") 
        a
          | Photos
          b.caret
      li#SideBarPhoto.dropdown.collapse
        ul
          li
            a(href='#/photos') 
              span.pull-right.glyphicon.glyphicon-th-large
              | Albums


